/* Site-wide globals */
body {
  background: rgb(104, 91, 133);
  font-size: 20px;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover, a:focus {
  /* color:rgb(233, 143, 163); */
  text-decoration: underline;
}

/* Header */
.header {
  text-align: center;
  color:rgb(255, 246, 244);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 3.5rem;
}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* Main -> Nav */
nav {
  min-width: 150px;
  background-color: rgb(183, 117, 174);
  margin-bottom: 1rem;
  padding: 1rem;
}

nav ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;;
}

nav ul li {
  flex: 1;
}

.nav-item {
  display: flex;
  flex-direction: column;
  margin: .5rem 0;
}

/* Main -> Content */
.content {
  background-color: rgb(254, 198, 244);
  flex: 1;
  margin-left: 0;
  padding: 1rem;
}

/* Colors (replace with css vars if possible) */
.primary-dark {
  color: rgb(104, 91, 133);
}
.primary-light {
  color: rgb(158, 107, 151);
}
.primary-lightest {
  color: rgb(254, 198, 244);
}
.secondary-light {
  color: rgb(233, 143, 163);
}

.text-primary {
  color: #000;
}

/* Background Images */
/* .image-header {} */

/* Icons */
.header-icon {
  font-size: 200px;
  width: 150px;
  transform: rotate(-45deg);
  color:rgb(255, 244, 244);
  margin-right: 45px;
}

/* Fonts */
.font-primary {
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.font-secondary {
  font-family:'Courier New', Courier, monospace;
}

/* Borders */
.border-double {
  border: 10px double rgb(104, 91, 133);
}

/* Content Section Padding */
.image-copy,
.image-copy-apart,
.list-rows {
  padding: 1rem;
  border: 1px dashed fuchsia;
}

/* Content Section Types */
/* .image-copy {}

.image-copy-apart {}

.list-rows {} */

/* DESKTOP styles */
@media (min-width: 768px) {
  .main {
    flex-direction: row;
  }

  nav {
    margin-bottom: 0;
  }

  .content {
    margin-left: 1rem;
  }

  nav ul {
    flex-direction: column;
  }
}